asgiref==3.6.0
distlib==0.3.6
Django==4.2
django-ckeditor==6.5.1
django-cors-headers==3.13.0
django-crispy-forms==2.0
django-extensions==3.2.1
django-js-asset==2.0.0
django-otp==1.1.6
filelock==3.9.0
gunicorn==20.1.0
mysqlclient==2.1.1
Pillow==9.4.0
platformdirs==3.1.0
py==1.11.0
sqlparse==0.4.3
tzdata==2022.7
virtualenv==20.20.0
virtualenvwrapper-win==1.2.7
whitenoise==6.4.0
